nav {
    text-align: right;
    font-size: 35px;
}

.first {
    text-align: center;
}

.p1 {
    text-align: center;
    font-size: 45px;
}

#pirveli {
    text-decoration: none;
}

#meore {
    text-decoration: none;
}

h1 {
    text-align: center;
}

#n #l{
    width: 450px;
}